

$nav_bg-color: #273648;
$main_bg-color: #f9f9f9;
$todo_bg-color: #ffffff;
$navlink_text-color: #edf4fc;
$navlink_bg_active-color: #4A90E2;
$title_text-color: #30394A;
$todo_text-color: #666666;
$input_border-color: #DDDDDD;
$select_item_text-color: #B5B5B5;



/* Color Themes - Variables */

$purple: #9A68C7;
$blue: #3BA9E4;
$green: #75B343;
$orange: #FF6A42;

/* Common Colors - Variables */

$off-wht: rgba(white,.4);


